

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">


    <mdb-navbar-brand><a class="navbar-brand" style="font-size: 25px;">Navigation Tool</a></mdb-navbar-brand>
  

    <links>
  

      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/hrHomePage" mdbWavesEffect>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/hrEmployeeProfile" mdbWavesEffect>Personal Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/hrVisaStatusManagement" mdbWavesEffect>Visa Status Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/applicationReview" mdbWavesEffect>Hire</a>
          </li>
        <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/hrHousing" mdbWavesEffect>House Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/logout" mdbWavesEffect style="float:right">Logout</a>
      </li>
        
      </ul>

      </links>
    
  
  </mdb-navbar>

  

