<!--
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">
    <mdb-navbar-brand><a class="navbar-brand" style="font-size: 25px;">Navigation Tool</a></mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/hrHome" mdbWavesEffect>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Personal Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Visa Status Management</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link waves-light" routerLink="/hrEmailSend" mdbWavesEffect>Hire<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" mdbWavesEffect>House Management</a>
          </li>
      </ul>
      </links> 
</mdb-navbar>
-->


<h1>HR Generate Token and Send Email</h1>
<div id="formDiv">
    <form [formGroup]="hrEmailForm" (ngSubmit)="submitForm(hrEmailForm)">
        <label>Email:</label><br>
        <input type="text" formControlName="email" required><br><br>
        <button type="submit" class="btn btn-secondary" [disabled]="!hrEmailForm.valid">Generate Token and Send Email</button><br><br>
    </form>
    <h3 class="errorMessage">{{errorMessage}}</h3>
</div>
