<!-- 
  <div class="column">
    <div class="card">
        <h3 class="card-title">Name</h3>
        <div class="card-body">
        <form [formGroup]="nameSectionForm" (ngSubmit)="submitForm(nameSectionForm)">
            <label>Legal Name</label><br>
            <input type="text" formControlName="firstName" [attr.disabled]="!editable ? '' : null" placeholder="first name">
            <input type="text" formControlName="middleName" [attr.disabled]="!editable ? '' : null" placeholder="middle name">
            <input type="text" formControlName="lastName" [attr.disabled]="!editable ? '' : null" placeholder="last name"><br><br>
            <label>Date of Birth</label><br>
            <input type="text" formControlName="birthday" [attr.disabled]="true"><br>
            <label>Age</label><br>
            <input type="number" [value]="getAge()" [attr.disabled]="true"><br>
            <label>Gender</label><br>
            <input type="text" formControlName="gender" [attr.disabled]="true"><br>
            <button (click)="makeEditable()" class="btn btn-secondary" *ngIf="!editable">edit</button>
            <button type="submit" class="btn btn-secondary" *ngIf="editable">save</button>
            <button (click)="cancel()" class="btn btn-secondary" *ngIf="editable">cancel</button>
        </form>
        <h3 class="errorMessage">{{errorMessage}}</h3>
        </div>
 -->
<div class="card">
    <h3 class="card-title">Name</h3>
    <div class="card-body">
    <form [formGroup]="nameSectionForm" (ngSubmit)="submitForm(nameSectionForm)">
        <img [src]="avartarUrl" width="200" height="200"><br><br>
        <input class="form-control" type="file" (change)="selectAvatarFile($event)" [attr.disabled]="!editable ? '' : null">

        <label>Legal Name</label><br>
        <input type="text" formControlName="firstName" [attr.disabled]="!editable ? '' : null" placeholder="first name">
        <input type="text" formControlName="middleName" [attr.disabled]="!editable ? '' : null" placeholder="middle name">
        <input type="text" formControlName="lastName" [attr.disabled]="!editable ? '' : null" placeholder="last name"><br><br>
        <label>Date of Birth</label><br>
        <input type="text" formControlName="birthday" [attr.disabled]="true"><br>
        <label>Age</label><br>
        <input type="number" [value]="getAge()" [attr.disabled]="true"><br>
        <label>Gender</label><br>
        <input type="text" formControlName="gender" [attr.disabled]="true"><br>
        <button (click)="makeEditable()" class="btn btn-secondary" *ngIf="!editable">edit</button>
        <button type="submit" class="btn btn-secondary" *ngIf="editable">save</button>
        <button (click)="cancel()" class="btn btn-secondary" *ngIf="editable">cancel</button>
    </form>
    <h3 class="errorMessage">{{errorMessage}}</h3>
    </div>
</div>  

