<app-user-nav-bar></app-user-nav-bar>
<h1>Onboarding Document Upload</h1>
<div id="formDiv">
    <hr><h3>Required File List</h3><hr>
    <ng-container *ngFor="let document of documents">
        <div id="formDiv">
            <app-document-download-link [document]='document'></app-document-download-link>
        </div>
    </ng-container>
    <input type="file" (change)="selectFile($event)">
    <button class="btn btn-secondary" [disabled]="selectedFiles == null" (click)="upload()">Upload</button>
    <h3 class="errorMessage">{{message}}</h3>
</div>
