<app-hr-nav-bar></app-hr-nav-bar>
<table mdbTable bordered="true">
    <thead>
        <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let v of visaData; let i=index">
            <tr>
                <td></td>
                <td>
                    <a routerLink="/hrVisaStatusManagement">{{employeeData[i].firstName}} {{employeeData[i].lastName}}</a>
                </td>
                <td>{{v.visaType}}</td>
                <td>{{v.visaEndDate}}</td>
                <td>{{dateDiffData[i] | number: '1.0-0'}}</td>
                <td>
                    <span>{{nextSteps[i]}}</span>
                    <button (click)="sendEmail(i)" class="email-button" style="float: right; margin-right: 25px;">Send Email</button><br>
                </td>

            </tr>
        </ng-container>



    </tbody>
</table>