<app-user-nav-bar></app-user-nav-bar>
<h1>Visa Status Management</h1>
<ng-container *ngIf="!isCitizenOrPR">
    <div class="card">
        <h3 class="card-title">Status Update</h3>
        <div class="card-body">
            <ng-container *ngIf="currentStatusId >= 0">
                <ng-container *ngFor="let status of statuses; index as i;">
                    <h5 [style]="getColor(i)">STEP {{i + 1}}: {{status}}</h5>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="currentStatusId < 0">
                <h3>Visa type is not F1.</h3>
            </ng-container>
        </div>
    </div>
    <div class="card">
        <h3 class="card-title"> Next Step</h3>
        <div class="card-body">
            <h4>{{getNextStep()}}</h4><br>
            <ng-container *ngIf="showUpload()">
                <input type="file" (change)="selectFile($event)">
                <button (click) = "uploadFile()">Upload</button>
            </ng-container>
        </div>
    </div>
    <div class="card">
        <h3 class="card-title">My Files</h3>
        <div class="card-body">
            <ng-container *ngFor="let file of uploadedFiles">
                <app-personal-doc-download [document]="file"></app-personal-doc-download><br>
            </ng-container>
        </div>
    </div>
    <p>{{errorMessage}}</p>
</ng-container>
<ng-container *ngIf="isCitizenOrPR">
    <h3>Not available to U.S. citizens or permanent residents.</h3>
</ng-container>