<div class="card">
    <div class="card-body">
        <h3>Employment</h3>
        <form [formGroup]="employmentForm" (ngSubmit)="submitForm(employmentForm)">
            <label>Work Authorization</label><br>
            <input type="text" formControlName="workAuth" [attr.disabled]="!editable ? '' : null"><br>
            <label>Work Authorization Start Date</label><br>
            <input type="text" formControlName="workAuthStartDate" [attr.disabled]="!editable ? '' : null"><br>
            <label>Work Authorization End Date</label><br>
            <input type="text" formControlName="workAuthEndDate" [attr.disabled]="!editable ? '' : null"><br>
            <label>Employment Start Date</label><br>
            <input type="text" formControlName="employmentStartDate" [attr.disabled]="!editable ? '' : null"><br>
            <label>Employment End Date</label><br>
            <input type="text" formControlName="employmentEndDate" [attr.disabled]="!editable ? '' : null"><br>
            <label>Title</label><br>
            <input type="text" formControlName="title" [attr.disabled]="!editable ? '' : null"><br><br>
            <button (click)="makeEditable()" class="btn btn-secondary" *ngIf="!editable">edit</button>
            <button type="submit" class="btn btn-secondary" *ngIf="editable">save</button>
            <button (click)="cancel()" class="btn btn-secondary" *ngIf="editable">cancel</button>
        </form>
    </div>
  </div>