<app-user-nav-bar></app-user-nav-bar>
<h1>Housing Information</h1>
<div id="formDiv">
    <hr><h3>Address</h3><hr>
    {{address}}
    <hr><h3>Residents</h3><hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <td><b>First Name</b></td>
                <td><b>Phone Number</b></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let resident of residents">
                <td>{{resident.firstName}}</td>
                <td>{{resident.cellPhone}}</td>
            </tr>
        </tbody>
    </table>
    <hr><h3>New Report</h3><hr>
    <form [formGroup]="reportForm" (ngSubmit)="submitForm(reportForm)">
        <input type="text" formControlName="title" placeholder="title" required><br><br>
        <textarea formControlName="description" cols="70" rows="10" required placeholder="description"></textarea><br><br>
        <button type="submit" class="btn btn-secondary" [disabled]="!reportForm.valid">Report</button>
    </form>
    <h3 class="errorMessage">{{message}}</h3>
    <hr><h3>Report History</h3><hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <td><b>Title</b></td>
                <td><b>Report Date</b></td>
                <td><b>Status</b></td>
                <td><b>Action</b></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let report of reports">
                <td>{{report.title}}</td>
                <td>{{report.reportDate}}</td>
                <td>{{report.status}}</td>
                <td><button routerLink="/reportDetail/{{report.frid}}">Detail</button></td>
            </tr>
        </tbody>
    </table>
</div>