<h1>Login</h1>
<div id="formDiv">
    <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm)">
        <label>Username or Email:</label><br>
        <input type="text" formControlName="usernameOrEmail" required><br><br>
        <label>Password:</label><br>
        <input type="password" formControlName="password" required><br><br>
        <button type="submit" class="btn btn-secondary" [disabled]="!loginForm.valid">Login</button><br><br>
        <a class="dropdown-item" routerLink="/registration">New to the system? Sign up</a>
    </form>
    <h3 class="errorMessage">{{errorMessage}}</h3>
</div>