<app-hr-nav-bar></app-hr-nav-bar>
<div>
<h3>{{fullName}}</h3>
<table mdbTable bordered="true">
    <thead>
        <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let docs of pDocs; let i=index">
            <tr>
                <td>{{docs.title}}</td>
                <td>{{docs.createDate}}</td>
                <td>
                    <button (click)="sendReview(i)" style="float: left; margin-right: 25px;" >Review and Edit</button><br>
                    <a [href]="docs?.signedPath" *ngIf="docs?.showImage" target="_blank" name="download">download</a>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>

</div>