<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">


    <mdb-navbar-brand><a class="navbar-brand" style="font-size: 25px;">Navigation Tool</a></mdb-navbar-brand>
  
  
    <links>
  
  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink = "/employeeHomePage" mdbWavesEffect>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink = "/onboarding" mdbWavesEffect>Onboarding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink = "/documentUpload" mdbWavesEffect>Documents</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/personalInformation" mdbWavesEffect>Personal Information</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/visaStatusMgmt" mdbWavesEffect>Visa Status Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" routerLink="/employeeHousing" mdbWavesEffect>Housing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" routerLink="/logout" mdbWavesEffect>Logout</a>
      </li>
      </ul>
  
      </links>
    
  
</mdb-navbar>
