<div class="column">  
    <div class="card">
    <h3 class="card-title">Address</h3>
    <div class="card-body">
        <form [formGroup]="addressSectionForm" (ngSubmit)="submitForm(addressSectionForm)">
            <label>Line 1</label><br>
            <input type="text" formControlName="line1" [attr.disabled]="!editable ? '' : null"><br>
            <label>Line 2</label><br>
            <input type="text" formControlName="line2" [attr.disabled]="!editable ? '' : null"><br>
            <label>City</label><br>
            <input type="text" formControlName="city" [attr.disabled]="!editable ? '' : null"><br>
            <label>State</label><br>
            <input type="text" formControlName="state" [attr.disabled]="!editable ? '' : null"><br>
            <label>Zip Code</label><br>
            <input type="text" formControlName="zipcode" [attr.disabled]="!editable ? '' : null" maxlength="5"><br>
            <button (click)="makeEditable()" class="btn btn-secondary" *ngIf="!editable">edit</button>
            <button type="submit" class="btn btn-secondary" *ngIf="editable">save</button>
            <button (click)="cancel()" class="btn btn-secondary" *ngIf="editable">cancel</button>
        </form>
        <h3>{{errorMessage}}</h3>
    </div>
    </div>
</div>

